.experience_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
}

.experience_container > div{
    background: var(--color-bg-variant);
    padding: 2.4rem 7rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    border-color: var(--color-primary);
    transition: var(--transition);
}

.experience_container > div:hover{
    border-color: white;
}

.experience_container > div h3{
    text-align: center;
    margin: 2rem ;
    
}

/*========= media queries (tablets/ medium devices) =====*/

@media screen and (max-width: 1024px){
    .experience_container{
        grid-template-columns: 1fr;
    }

    .experience_container > div {
        width: 88%;
        padding: 2rem;
        margin: 0 auto;
    }

    .experience_content{
        padding: 1rem;
    }
    
}


/*========= media queries (phone/ small devices) =====*/

@media screen and (max-width: 600px){
    .experience_container > div {
        width: 100%;
        padding: 2rem 1rem;
        margin: 0 auto;
    }
}